*{
    background-color: maroon;
}
body{
    margin: 10%;
}
p{
    background-color: wheat;
    margin-top: 0px;
    margin-bottom: 0px;
    border: solid black 2px;
}
.paragrafo_primeiro{
    border-top: solid black 2px;
    border-bottom: solid black 1px;
}
.paragrafo_meio{
    border-top: 0px;
    border-bottom: solid black 1px;
}
.paragrafo_ultimo{
    border-top: 0px;
}